---
layout: base.njk
title: My Rad Markdown Blog Post
---

 <div class="container">
    <h1>Welcome to JAM</h1>
    <div class="message"></div>
    <ul class="dataList">
    {% for article in news.articles %}
    <li>{{ article.title }}</li>
    {% endfor %}
    </ul>
</div>

<script src="js/message.js"></script>